#STM32CubeMX文件保存位置信息
.mxproject


#JLink调试信息文件
JLinkLog.txt
JLinkSettings.ini

#编译过程中产生的文件
*.axf
*.bac
*.bin
*.crf
*.d
*.dep
*.hex
*.htm
*.iex
*.lnp
*.map
*.o
*.sct
*.Bak

#Keil工程记录和DeBug配置
*.uvguix.*
*.uvopt
*.uvoptx
*.dbgconf

#其它文件
*.lst
*.ini
*.TMP
EventRecorderStub.scvd
RTE
MDK-ARM/SRML/
